@import "tailwindcss";

main {
  background: fixed radial-gradient(circle, #d8d8d8 0.1rem, #f6f1f1 0.1rem) top
    left / 2rem 2rem;
}

@media (prefers-color-scheme: dark) {
  main {
    background: fixed radial-gradient(circle, #1b262c 0.1rem, #000000 0.1rem)
      top left / 2rem 2rem;
  }
}
